header{
	width: 100%;
	border:1px solid black;
	height:250px;
	background: url("../img/bg.jpg");
}

nav{
	width: 25%;
	height: 700px;
	border: 1px solid black;
	float:left;
}

#content{
	float: right;
	width: 73%;
	height: 700px;
	border: 1px solid black;
	padding: 10px;

}
nav> ul > li{
	list-style-type: none;
	border-bottom: 1px solid black;
	height: 30px;
	padding-top: 10px;
}
thead{
	background: gray;
	color: white;
	text-align: center;
	font: Arial; 
}